<header class="rbt-header rbt-header-8 rbt-transparent-header">
	<div class="rbt-sticky-placeholder bg-info"></div>
	<!-- Start Header Top  -->
	<div class="rbt-header-top rbt-header-top-1 header-space-betwween bg-color-transparent top-expended-activation"></div>
	<!-- End Header Top  -->

	<div class="rbt-header-wrapper  header-sticky">
		<div class="container">
			<div class="mainbar-row rbt-navigation-end align-items-center">
				<div class="header-left" style="flex-basis:60%;">
					<h3 class="theme-gradient pt-2 mb-0">tuElectivo</h3>
				</div>


				<div class="header-right">
					<div class="rbt-btn-wrapper d-none d-xl-block pt-3">
						<a class="rbt-btn rbt-switch-btn btn-gradient radius-round  btn-sm hover-transform-none" href="{{ path('app_logout') }}">
							<span>Cerrar sessión</span>
							<i class="feather-log-out"></i>
						</a>
					</div>

					<!-- Start Mobile-Menu-Bar -->
					<div class="mobile-menu-bar d-block d-xl-none">
						<div class="hamberger">
							<button class="hamberger-button rbt-round-btn">
								<i class="feather-menu"></i>
							</button>
						</div>
					</div>
					<!-- Start Mobile-Menu-Bar -->
				</div>

			</div>
		</div>
	</div>


</header>


<!-- Mobile Menu Section -->
<div class="popup-mobile-menu">
	<div class="inner-wrapper">
		<div class="inner-top">
			<div class="content">
				<div class="logo">

					<h3 class="theme-gradient pt-2 mb-0">tuElectivo</h3>

				</div>
				<div class="rbt-btn-close">
					<button class="close-button rbt-round-btn">
						<i class="feather-x"></i>
					</button>
				</div>
			</div>
			<p class="description">Sistema de Inscripciones de cursos</p>
		</div>
		<div class="mobile-menu-bottom mt-5">
			<div class="rbt-btn-wrapper mb--20">
				<a class="rbt-btn rbt-switch-btn btn-gradient radius-round  btn-sm hover-transform-none w-100 text-center" href="{{ path('app_logout') }}">
					<span>Cerrar sessión</span>

				</a>
			</div>

		</div>

	</div>
</div>
<!-- End Mobile Area  --></header>
